In [ ]:
!pip install git+https://github.com/blaze/blaze  --upgrade

Collecting git+https://github.com/blaze/blaze
  Cloning https://github.com/blaze/blaze to /tmp/pip-req-build-fm4gzpl9
  Running command git clone -q https://github.com/blaze/blaze /tmp/pip-req-build-fm4gzpl9
Requirement already satisfied: flask>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from blaze==0.11.3+38.g6c377268) (1.1.4)
Collecting flask-cors
  Downloading Flask_Cors-3.0.10-py2.py3-none-any.whl (14 kB)
Collecting odo>=0.5.0
  Downloading odo-0.5.0.tar.gz (129 kB)
     |████████████████████████████████| 129 kB 4.8 MB/s
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from blaze==0.11.3+38.g6c377268) (5.4.8)
Requirement already satisfied: sqlalchemy>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from blaze==0.11.3+38.g6c377268) (1.4.36)
Requirement already satisfied: toolz in /usr/local/lib/python3.7/dist-packages (from blaze==0.11.3+38.g6c377268) (0.11.2)
Requirement already satisfied: dask[dataframe] in /usr/local/lib/python3.7/dist-packages (from blaze==0.11.3+38.g6c377268) (2.12.0)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from flask>=0.10.1->blaze==0.11.3+38.g6c377268) (2.11.3)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from flask>=0.10.1->blaze==0.11.3+38.g6c377268) (7.1.2)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from flask>=0.10.1->blaze==0.11.3+38.g6c377268) (1.1.0)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from flask>=0.10.1->blaze==0.11.3+38.g6c377268) (1.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->flask>=0.10.1->blaze==0.11.3+38.g6c377268) (2.0.1)
Collecting datashape>=0.5.0
  Downloading datashape-0.5.2.tar.gz (76 kB)
     |████████████████████████████████| 76 kB 5.1 MB/s
Requirement already satisfied: numpy>=1.7 in /usr/local/lib/python3.7/dist-packages (from odo>=0.5.0->blaze==0.11.3+38.g6c377268) (1.21.6)
Requirement already satisfied: pandas>=0.15.0 in /usr/local/lib/python3.7/dist-packages (from odo>=0.5.0->blaze==0.11.3+38.g6c377268) (1.3.5)
Collecting multipledispatch>=0.4.7
  Downloading multipledispatch-0.6.0-py3-none-any.whl (11 kB)
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (from odo>=0.5.0->blaze==0.11.3+38.g6c377268) (2.6.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from datashape>=0.5.0->odo>=0.5.0->blaze==0.11.3+38.g6c377268) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from multipledispatch>=0.4.7->odo>=0.5.0->blaze==0.11.3+38.g6c377268) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.15.0->odo>=0.5.0->blaze==0.11.3+38.g6c377268) (2022.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.8.0->blaze==0.11.3+38.g6c377268) (4.11.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.8.0->blaze==0.11.3+38.g6c377268) (1.1.2)
Collecting partd>=0.3.10
  Downloading partd-1.2.0-py3-none-any.whl (19 kB)
Collecting fsspec>=0.6.0
  Downloading fsspec-2022.3.0-py3-none-any.whl (136 kB)
     |████████████████████████████████| 136 kB 28.0 MB/s
Collecting locket
  Downloading locket-1.0.0-py2.py3-none-any.whl (4.4 kB)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.8.0->blaze==0.11.3+38.g6c377268) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.8.0->blaze==0.11.3+38.g6c377268) (4.2.0)
Building wheels for collected packages: blaze, odo, datashape
  Building wheel for blaze (setup.py) ... done
  Created wheel for blaze: filename=blaze-0.11.3+38.g6c377268-py3-none-any.whl size=491006 sha256=78dbb9cd6508efc2ea47dc519163c9f05bf9c0d5eaf669ede864d0073bafc58e
  Stored in directory: /tmp/pip-ephem-wheel-cache-wb6b_bnl/wheels/30/86/5d/87dc8b4d2d4fb94c23efda163ba6d1cb04c73f0717ce076c95
  Building wheel for odo (setup.py) ... done
  Created wheel for odo: filename=odo-0.5.0-py3-none-any.whl size=128157 sha256=82ba487c2f7a2c6b5e80ca64c76e215b897401c775356a0c13a44a67ecbd9123
  Stored in directory: /root/.cache/pip/wheels/f7/cd/1b/2680973488dc6d9c2cbea6bc81a54a501d10cd6b20e9606721
  Building wheel for datashape (setup.py) ... done
  Created wheel for datashape: filename=datashape-0.5.2-py3-none-any.whl size=59438 sha256=92b4e08fc95ab828f188570ae2c7ed11ba2bf469827f5c0b420f61999920eea0
  Stored in directory: /root/.cache/pip/wheels/b5/b7/80/333a5c3312ed4cd54f5d5b869868c14e0c6002cb5c7238b52d
Successfully built blaze odo datashape
Installing collected packages: multipledispatch, locket, partd, fsspec, datashape, odo, flask-cors, blaze
Successfully installed blaze-0.11.3+38.g6c377268 datashape-0.5.2 flask-cors-3.0.10 fsspec-2022.3.0 locket-1.0.0 multipledispatch-0.6.0 odo-0.5.0 partd-1.2.0

In [ ]:
pip install SQLAlchemy==1.2.19

Collecting SQLAlchemy==1.2.19
  Downloading SQLAlchemy-1.2.19.tar.gz (5.7 MB)
     |████████████████████████████████| 5.7 MB 5.4 MB/s
Building wheels for collected packages: SQLAlchemy
  Building wheel for SQLAlchemy (setup.py) ... done
  Created wheel for SQLAlchemy: filename=SQLAlchemy-1.2.19-cp37-cp37m-linux_x86_64.whl size=1154191 sha256=9c8d114ab45a6b8830f2f4ade846b70d21697695211ed565883b282caa133500
  Stored in directory: /root/.cache/pip/wheels/26/f5/25/6f2227c446ba93eef8dc8544d76a51a67a10c66066ec216d5d
Successfully built SQLAlchemy
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 1.4.36
    Uninstalling SQLAlchemy-1.4.36:
      Successfully uninstalled SQLAlchemy-1.4.36
Successfully installed SQLAlchemy-1.2.19

In [ ]:
pip install diGraph==0.1.2

Requirement already satisfied: diGraph==0.1.2 in /usr/local/lib/python3.7/dist-packages (0.1.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from diGraph==0.1.2) (3.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from diGraph==0.1.2) (1.21.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->diGraph==0.1.2) (1.4.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->diGraph==0.1.2) (3.0.8)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->diGraph==0.1.2) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->diGraph==0.1.2) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->diGraph==0.1.2) (4.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->diGraph==0.1.2) (1.15.0)

In [ ]:
from blaze import *

/usr/local/lib/python3.7/dist-packages/blaze/compatibility.py:6: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

#Blaze Interactive Data
Create simple Blaze expressions from nested lists/tuples. Blaze will deduce the dimensionality and data type to use.

In [ ]:
t = data([(1, 'Alice', 100),
        (2, 'Bob', -200),
        (3, 'Charlie', 300),
        (4, 'Denis', 400),
        (5, 'Edith', -500)],
        fields=['id', 'name', 'balance'])
t.peek()

   id     name  balance
0   1    Alice      100
1   2      Bob     -200
2   3  Charlie      300
3   4    Denis      400
4   5    Edith     -500

# Simple Calculations
Blaze supports simple computations like column selection and filtering with familiar Pandas getitem or attribute syntax.

In [ ]:
t[t.balance < 0].peek()

   id   name  balance
0   2    Bob     -200
1   5  Edith     -500

In [ ]:
t[t.balance < 0].name.peek()

    name
0    Bob
1  Edith

#Stored Data
Define Blaze expressions directly from storage like CSV or HDF5 files. Here we operate on a CSV file of the traditional iris dataset.

In [ ]:
from blaze.utils import example
house = data(example('/content/sample_data/california_housing_test.csv'))
house.peek()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0
10,-118.24,33.98,45.0,972.0,249.0,1288.0,261.0,2.2054,125000.0

#More Computations
 Common operations like Joins and split-apply-combine are available on any kind of data

In [ ]:
by(house.latitude,                # Group by species
min=house.median_house_value.min(),  # Minimum of petal_width per group
max=house.median_house_value.max()).peek()  # Maximum of petal_width per group

    latitude       max       min
0      32.56  151500.0  151500.0
1      32.57  140500.0  103200.0
2      32.58  156000.0  122700.0
3      32.59  148800.0  144500.0
4      32.60  106300.0  106300.0
5      32.61  171300.0  131100.0
6      32.62  156000.0  128700.0
7      32.64  145800.0  131300.0
8      32.66  118800.0   60000.0
9      32.67   73100.0   73100.0
10     32.68  500001.0   99600.0


#Finishing Up
Blaze computes only as much as is necessary to present the results on screen. Fully evaluate the computation, returning an output similar to the input type by calling compute.